<div class="container mt-5">
  <div class="text-center">
    <h1 class="mb-4">Base64 Encoder</h1>
  </div>

  <div class="form-group">
    <label for="inputText" class="form-label">Text to encode:</label>
    <input [(ngModel)]="inputText" class="form-control form-control-lg" id="inputText" placeholder="Enter text">
  </div>

  <div class="d-flex justify-content-center mt-4">
    <div class="btn-group">
      <button (click)="onEncode()" class="btn btn-primary btn-lg" [disabled]="isEncoding$ | async">Encode</button>
      <button (click)="onStop()" class="btn btn-danger btn-lg">Stop</button>
    </div>
  </div>
  <div class="text-center mt-3" *ngIf="isEncoding$ | async">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Encoding in progress...</span>
    </div>
    <p>Encoding in progress...</p>
  </div>
  <div class="mt-5">
    <h2 class="text-center">Encoded Text</h2>
    <textarea class="form-control" [value]="encodedText$ | async" rows="5" readonly></textarea>
  </div>
</div>
